<header>
  <h1><%= link_to post.title, post.url %></h1>
  <p class="meta"><i class="fa fa-calendar"></i><%= post.readable_date %>, tagged as 
    <% post.tags.each_with_index do |tag, index| %>
      <%= link_to tag.hashtag, tag.url, class: "#{index == 0 ? 'no-margin' : ''} tag" %><% unless index == post.tags.count - 1 %>,<% end %>
    <% end %>
  </p>
</header>