/* Blog posts (only header part, its shared) */

article header {
  margin-bottom: 16px;
  border-bottom: 1px solid #eee;

  h1 {
    font-size: 28px;
    margin: 0px;
    line-height: 42px;
  }

  p.meta {
    font-size: 14px;
    color: #4e4e5a;
  }

  p.meta i {
    margin-right: 6px;
  }

  p.meta a.tag {
    margin-left: 3px;
  }

  p.meta a.tag.no-margin {
    margin: 0px;
  }
}

div.article-aligner {
  height: 64px;
}

/* Footer */

footer {
  text-align: center;

  div.subscribing {
    color: #fff;
    background-color: #252525;
    height: 400px;
  }

  div.copyrights {
    background-color: #1a1a1a;

    p {
      padding: 20px 0px;
      margin: 0px;
      color: #fff;
    }
    p strong {}
  }  
}

@import "home";
@import "blog";
@import "post";
@import "tags";