/* Blog posts (Note: only header part because its shared ...) */

article header {
  margin-bottom: 16px;
  border-bottom: 1px solid #eee;

  h1 {
    font-size: 28px;
    margin: 0px;
    line-height: 42px;

    a,
    a:visited,
    a:hover,
    a:active {
      color: #3A4145;
    }
  }

  p.meta {
    font-size: 14px;
    color: #4e4e5a;
  }

  p.meta i {
    margin-right: 6px;
  }

  p.meta a.tag {
    margin-left: 3px;
  }

  p.meta a.tag.no-margin {
    margin: 0px;
  }
}

div.article-aligner {
  height: 64px;
}

/* Footer */

footer {
  text-align: center;
  background-color: #1a1a1a;

  div.subscribing {
    color: #fff;
    padding: 0px 20px;

    > h1 {
      font-size: 28px;
      margin-top: 56px;
    }

    > p {
      font-size: 16px; 
      color: #afafaf;
    }

    form {
      display: table;
      border-collapse: separate;
      max-width: 480px;
      margin: 26px auto 0px auto;
      border: 1px solid #525252;
      -moz-transition: border-color .2s;
      -o-transition: border-color .2s;
      -webkit-transition: border-color .2s;
      transition: border-color .2s;

      input {
        color: #fff;
        background-color: #0C0C0C;
        line-height: 24px;
        border: 1px solid #0C0C0C;
      }

      input[type="email"] {
        width: 100%;
        display: table-cell;
        border-right: none;
      }

      span {
        width: 1%;
        display: table-cell;
        vertical-align: middle; 

        input[type="submit"] {
          width: 70px;
          font-size: 34px;
          display: inline-block;
          vertical-align: middle; 
          overflow: visible;
          background-color: #00B140;
          -moz-transition: background-color .2s;
          -o-transition: background-color .2s;
          -webkit-transition: background-color .2s;
          transition: background-color .2s;
        }

        input[type="submit"]:hover {
          background-color: #00CE4A;
        }

        input[type="submit"]:disabled {
          background-color: #afafaf !important;
        }
      }
    }

    form.focus {
      border-color: #929292;
    }

    /*
    form.loading {
      opacity: 0.5;
    }
    */

    div.notification {
      max-width: 478px;
      margin: 0px auto;
      border: 1px solid #1a1a1a;
      text-align: left;
      display: none;
      
      p {
        margin: 0px;
        padding: 10px 0px 0px 15px;
      }
    }

    div.notification.error {
      color: #d9534f;
      display: block;
    }
  }

  div.social {
    padding: 37px 0px;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      letter-spacing: -0.31em;

      li {
        display: inline-block;
        letter-spacing: normal;
      }

      li a {
        color: #afafaf;
        font-size: 34px;
        line-height: 34px;
        text-decoration: none;
        padding: 10px;
        margin: 10px;
        -moz-transition: color .2s;
        -o-transition: color .2s;
        -webkit-transition: color .2s;
        transition: color .2s;
      }

      li a:hover {
        color: #fff;
      }
    }
  }

  div.loader {
    width: 1px;
    height: 3px;
    background-color: #1a1a1a;
    -moz-transition: width .2s;
    -o-transition: width .2s;
    -webkit-transition: width .2s;
    transition: width .2s;
  }

  div.loader.p-25,
  div.loader.p-35,
  div.loader.p-75,
  div.loader.p-100 {
    background-color: #00B140;
  }

  div.loader.p-25 {
    width: 25%;
  }

  div.loader.p-35 {
    width: 35%;
  }

  div.loader.p-75 {
    width: 75%;
  }

  div.loader.p-100 {
    width: 100%;
  }

  div.copyrights {
    background-color: #252525;
    padding: 0px 20px;

    p {
      font-size: 14px;
      padding: 20px 0px;
      margin: 0px;
      color: #afafaf;
    }
    p span {
      color: #fff;
    }
    p span i {
      margin: 0px 1px;
    }
  }  
}

@import "home";
@import "blog";
@import "post";
@import "tags";