/* Header */

div.header-wrapper {
  background: image-url("header-bg.jpg") center top no-repeat;
  background-size: cover;
  height: 800px;
  height: 100vh;
}

header[role="banner"] {
  background: rgba(51, 50, 68, 0.89);
  width: 100%;
  height: 100%;

  nav {
    max-width: 1272px; /* 1349px; */
    margin: 0 auto;
    /*
    margin-left: 39px;
    */

    ul {
      padding: 39px 36px 0px 36px;
      margin: 0px;
    }
    ul li {
      text-align: center;
    }
    ul li a {
      font-size: 14px;
      margin-right: 42px;

      &,
      &:hover, 
      &:focus, 
      &:active {
        color: #fff;
      }
      &:first-child {
        text-decoration: none;
        font-size: 18px;
        font-weight: 400;
        margin-right: 49px;
      }
    }
    ul li a.no-margin {
      margin-right: 0px;
    }
    ul li a:first-child {
      display: none;
    }
  }

  /* TODO: Hide on mobile */
  div.follow-area {
    display: none;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 100;
    background: image-url("header-triangle.png") right top no-repeat;
    height: 158px;
    width: 300px;

    iframe {
      float: right;
      margin-top: 45px;
      margin-right: 32px;
    }
  }

  div.logo-area {
    /* Change to position absolute? */
    max-width: 461px;
    margin: 0 auto;

    img {
      padding-top: 200px;
      padding-top: 25vh;
      width: 100%;
      max-width: 100%;
      display: block;
      margin: 0 auto;
      height: auto;
    }
  }
}

@media screen and (min-width: 940px) { 
  header[role="banner"] {
    div.follow-area {
      display: block; 
    }

    nav ul li {
      text-align: left;
    }
  }
}

@media screen and (min-width: 648px) { 
  header[role="banner"] nav ul li a:first-child {
    display: inline;
  }
}

ul.side-nav {
}

/* Main content */

main.main-home {
  /*
  max-width: 750px;
  margin: 40px auto;
  padding: 0px 20px;
  */

  header.main-header {
    padding: 0px 20px 56px 20px;
    background-color: #f5f5f5;
    text-align: center;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;

    /*
    i.section-icon {
      border: 1px solid #ccc;
      padding: 34px;
      font-size: 30px;
      display: inline-block;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      background-color: #fff;
      position: relative;
      top: -50px;
      margin-bottom: -100px;
    }
    */

    h1 {
      font-size: 28px;
      padding: 56px 0px 44px 0px; 
      /*padding: 20px 0px 44px 0px;*/
      margin: 0px;

      i {
        background-color: #f5f5f5;
        /*border: 1px solid #ccc;*/
        padding: 20px;
        /*border-radius: 100%;*/
        /*margin-right: 20px;*/
      }
    }

    p {
      color: #4e4e5a;
      font-size: 18px;
      margin: 0px;
    }

    small {
      color: #A2A2A2;
      padding-top: 10px;
    }
  }

  header.no-top-border {
    border-top: none;
  }

  header.no-bottom-border {
    border-bottom: none;
  }

  /* All sections */

  .content {
    margin: 70px auto 90px auto;
    padding: 0px 20px;
  }


  /* Blog section */

  section.blog .content {
    max-width: 1100px;

    p.post-preview {
      margin-bottom: 36px;
    }
  }

  /* Games section */

  section.games .showcase {
    height: 800px;
    height: 100vh;
    background-color: #07080A;
  }

  section.games .content, section.others .content {
    max-width: 1348px;

    div.image-wrapper {
      padding: 0px 10px;
      margin: 0px 0px 20px 0px;
    }

    div.image-wrapper img {
      border: 1px solid #000;
    }
  }

  /* Other section */

  section.others .content {

  }

  /* About section */

  section.about .content {
    max-width: 1100px;
  }  
}