main.main-post {
  max-width: 750px;
  margin: 40px auto;
  padding: 0px 20px;

  /* Post */

  .post {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 40px;
    }
  }

  /* Sharing */

  .post-sharing {
    margin-top: 30px;
    border-bottom: 1px solid #eee;
    padding-bottom: 7px;
  }

  /* Navigation */

  .post-nav {
    margin-top: 40px;
    border-top: 1px solid #eee;
    padding-top: 24px;
    font-size: 14px;

    a {
      font-size: 14px;
    }
    
    a.btn-next {
      float: right;
      i {
        margin-left: 6px;
      }
    }

    a.btn-previous {
      float: left;
      i {
        margin-right: 6px;
      }
    }
  }
}