main.main-post {
  max-width: 750px;
  margin: 40px auto;
  padding: 0px 20px;

  /* Post */

  .post {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 40px;
    }
  }

  /* Sharing */

  .post-sharing {
    margin-top: 30px; /* 24px; */
    border-bottom: 1px solid #eee;
    padding-bottom: 7px;
  }

  /* Navigation */

  .post-nav {
    margin-top: 40px;
    border-top: 1px solid #eee;
    padding-top: 24px;
    font-size: 14px;
    
    /*
    a {
      border: 1px solid #ccc;
      padding: 10px 16px;
      color: #3A4145;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
    }

    a,
    a:visited,
    a:active,
    a:hover {
      text-decoration: none;
    }

    a:hover {
      border-color: #797979;
    }
    */
  }
}