<header>
  <h1><%= link_to post.title, post.url %></h1>
  <p class="meta"><i class="fa fa-calendar"></i><%= post.readable_date %>, tagged as 
    <% post.tags.each_with_index do |tag, index| %>
      <a href="<%= tag.url %>" class="<% if index == 0 %>no-margin<% end %> tag">
      <%= tag.name %></a><% unless index == post.tags.count - 1 %>,<% end %>
    <% end %>
  </p>
</header>