<header>
  <h1><%= @post.title %></h1>
  <p class="meta">By <em>Mauno Vähä</em>, posted under 
    <% @post.tags.each_with_index do |tag, index| %>
      <a href="/blog/tags/<%= tag.name %>" class="<% if index == 0 %>no-margin<% end %> tag">
      <%= tag.name %></a><% unless index == @post.tags.count - 1 %>,<% end %>
    <% end %>
  </p>
</header>