<div class="post-nav pure-u-1">
  <% if newer? %>
    <a href="<%= newer.url %>">&larr;&nbsp;&nbsp;Next</a>
  <% end %>
  <% if older? %>
    <a href="<%= older.url %>">Previous&nbsp;&nbsp;&rarr;</a>
  <% end %>
</div>