<footer>
  <div class="site-footer">
    <h2 style="margin-bottom: 42px;">Become a member of my crew</h2>
    <pre style="white-space: pre; word-wrap: normal; font-style: monospace; line-height: normal;">
                |              ~.~   
               )_)    |              
              )___)  )_)    ~.~      
       __|_  )____) )___)            
       \___\____|_____|_____         
---------\                 /---------
        ^^^^^^^^^^^^^^^^^^^^         
    ^^      ^^^^     ^^^     ^^      
       ^^^^      ^^^      ^          
    </pre>
    <p>An epic journey of a man has just began.</p> </p>To keep updated, it is highly recommended that you jump on board:</p>
      <a href="https://twitter.com/{{ site.twitter_username }}" class="twitter-follow-button" data-show-count="true">Follow @{{ site.twitter_username}}</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>
  <div class="site-footer-copyright">
    <p>&copy; {{ site.year }} and beyond, <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">{{ site.author }}</a>. All rights reserved.</p>
  </div>
</footer>
