* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1.7em;
  color: #5b5b5b;
  /*font-size: 13px;*/
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  color: #4D4D4D;
}

/*
h1 {
  font-size: 32px;
}
*/

/*
.top-menu-bg {
  height: 407px;
  background: #fff url("/assets/header-bg.png") no-repeat top left;
}
*/
