.site-content {
  max-width: 750px;
  margin: 40px auto;
  padding: 0px 20px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 40px;
  }

}

.site-content .page-header {
  margin-bottom: 40px;
  border-bottom: 1px solid #eee;

  .page-title {
    margin: 0px;
    line-height: 42px;
  }

  .page-meta {
    color: #999;
    font-size: 14px;
  }
}

.site-content .post .page-header .page-meta {
  a,
  a:visited,
  a:active {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .post-author {
    color: #3D92C9;
  }
}

.site-content .post-navigation {
  margin-top: 40px;
  border-top: 1px solid #eee;
  padding-top: 30px;
  font-size: 14px;

  a {
    border: 1px solid #ccc;
    padding: 10px 16px;
    color: #3A4145;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  }

  a,
  a:visited,
  a:active,
  a:hover {
    text-decoration: none;
  }

  a:hover {
    border-color: #797979;
  }
}

.site-content .post-comments {
  margin-top: 40px;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

/*
.site-content .post-navigation {
  padding-left: 60px;

  .post-navigation-group h4 {
    line-height: 42px;
    margin: 13.78000069px 0px;
  }

  .post-navigation-group ul {
    margin: 0px;
    padding: 0px;
  }

  .post-navigation-group ul li {
    a, span {
      font-size: 14px;
    }

    a,
    a:visited,
    a:active {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .tags-group ul li {
    margin-bottom: 6px;
  }

  .tags-group ul li span {
    padding: 0px 4px;
  }

}
*/

a.tag-count {
  color: #999;
}

a.tag {
  margin-left: 4px;
}

a.continue {
  font-size: 14px;
}
