.site-content {
  max-width: 750px;
  margin: 40px auto;
  padding: 0px 30px;
}

.site-content .post {
  .post-header {
    margin-bottom: 40px;
  }

  .post-header .post-title {
    margin: 0px;
    line-height: 42px;
  }

  .post-header .post-meta {
    color: #999;
    font-size: 14px;

    a,
    a:visited,
    a:active {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    .post-author {
      color: #3D92C9;
    }
  }
}

.site-content .post-navigation {
  padding-left: 60px;
  /* text-align: right; */

  .post-navigation-group:first-child h4 {
    margin-top: 0px;
  }

  .post-navigation-group h4 {
    line-height: 42px;
    margin: 13.78000069px 0px;
  }

  .post-navigation-group ul {
    margin: 0px;
    padding: 0px;
    color: #E0E0E0;
  }

  .post-navigation-group ul li {
    a {
      font-size: 12px;
    }

    a,
    a:visited,
    a:active {
      text-decoration: none;
      color: #3D92C9;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .tags-group ul li {
    margin-bottom: 12px;
  }

}

@media screen and (min-width: 64em) {

  /*
  .site-content {
    margin: 60px auto;
  }
  */

}

.tag {
  /*padding-left: 3px;*/
  /*padding: 4px 6px;*/
  /*border: 1px solid #eee;*/
  /*background: #e0eaf1;*/
  /*background: #e0eaf1;*/
  margin-left: 6px;
}

a.tag,
a.tag:visited,
a.tag:active {
  /* color: #E9811B; */
  /*color: #4a6b82;*/
  /*color: #4D4D4D;*/
}
