.site-content .game {
  border-bottom: 1px solid #eee;
  margin-bottom: 40px;

  h2 {
    margin-top: 0px;

    .year {
      color: #999;
    }
  }

  /*
  .credits {
    font-size: 14px;

    strong {
      font-size: 16px;
    }
  }
  */

  .note {
    font-size: 14px;
  }

  .game-gallery {
    max-width: 640px;
  }

  .game-gallery .preview {
    border: 1px solid #000;
    display: block;
  }

  .game-gallery .thumbnails {
    position: relative;
    top: -80px;
    margin-bottom: -64px;
    text-align: center;

    img:first-child {
      margin-left: 0px;
    }

    img {
      margin-left: 12px;
      display: inline-block;
      border: 1px solid #fff;
    }

    img:hover {
      cursor: pointer;
    }

  }
}
