.site-header {
  background: #2d3e50;
}

.site-header .content {
  color: #fff;
  max-width: 1280px;
  padding: 0px 30px;
  margin: 0 auto;

  a,
  a:visited,
  a:active {
    text-decoration: none;
  }

  a,
  a:visited,
  a:hover,
  a:active {
    color: #fff;
    text-transform: lowercase;
  }

  a:hover {
    text-decoration: underline;
  }

  h1 {
    font-size: 24px;
    margin: 33px 0px 0px 0px;
  }

  p {
    margin: 0px;
  }

  nav {
    float: right;
  }

  ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    line-height: 16px;
  }

  ul li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
  }

  ul li a {
    margin: 0px;
    padding: 0px 40px;
    float: left;
    line-height: 120px;
  }

  ul li a.selected {
    background: #ef504f;
    text-decoration: none;
  }

}
