.site-header {
  background: #2d3e50;
}

.site-header .content {
  color: #fff;
  /*max-width: 1280px;*/
  padding: 0px 30px;
  margin: 0 auto;

  a,
  a:visited,
  a:active {
    text-decoration: none;
  }

  a,
  a:visited,
  a:hover,
  a:active {
    color: #fff;
    text-transform: lowercase;
  }

  a:hover {
    text-decoration: underline;
  }

  h1 {
    margin: 10px 0px 10px 0px;
    font-size: 16px;
  }

  p {
    margin: 0px;
  }

  nav {
    /*margin: 22px 0px 0px 0px; */ /* 22px 0px 20px 0px; */
  }

  ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
    line-height: 16px;
  }

  ul li {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: middle;
  }

  ul li a {
    margin: 0px;
    padding: 0px 16px;  /* 33px 40px; */
    float: left;
  }

  ul li a.selected {
    text-decoration: none;
  }
}

@media screen and (min-width: 64em) {

  .site-header .content {

    /*

    nav {
      margin: 0px;
      float: right;
    }

    ul li a {
      line-height: 120px;
      padding: 0px 40px;
    }

    ul li a.selected {
      background: #ef504f;
      text-decoration: none;
    }
    */
  }
}


