.top-menu {
  padding: 0.5em;
  text-align: center;
  box-shadow: 0 1px 1px rgba(0,0,0, 0.10);

  .pure-menu-heading {
    color: white;
    font-weight: 400;
    font-size: 120%;
    text-transform: lowercase;
  }

  .pure-menu-selected a {
    color: white;
  }

  a {
    color: #6FBEF3;
  }

  li a:hover,
  li a:focus {
    background: none;
    border: none;
    color: #AECFE5;
  }
}

.top-menu.pure-menu-open {
  background: #2d3e50;
}

/*
 * Tablet and up media queries
 */
@media (min-width: 48em) {

  .top-menu {
    text-align: left;

    ul {
      float: right;
    }
  }

}
