article.post {
  header {
    margin-bottom: 16px;
    border-bottom: 1px solid #eee;

    h1 {
      font-size: 28px;
      margin: 0px;
      line-height: 42px;

      a,
      a:visited,
      a:hover,
      a:active {
        color: #3A4145;
      }
    }

    p.meta {
      font-size: 14px;
      color: #4e4e5a;
    }

    p.meta i {
      margin-right: 6px;
    }

    p.meta a.tag {
      margin-left: 3px;
    }

    p.meta a.tag.no-margin {
      margin: 0px;
    }
  }

  div.post-aligner {
    height: 48px;
  }

  p.post-preview {
    margin-bottom: 12px;
  }
}

main.main-post {
  max-width: 750px;
  margin: 60px auto;
  padding: 0px 20px;
    
  /* Post */

  .post {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 40px;
    }
  }

  /* Sharing */

  .post-sharing {
    margin-top: 56px;
    border-bottom: 1px solid #eee;
    padding-bottom: 7px;
  }

  /* Navigation */

  .post-nav {
    padding-top: 24px;
    font-size: 14px;
    text-align: center;

    a {
      font-size: 14px;
    }
    
    a.btn-next {
      i {
        margin-left: 10px;
      }
    }

    a.btn-previous {
      i {
        margin-right: 10px;
      }
    }
  }
}