<footer class="pure-g">
  <div class="subscribing pure-u-1">
    <h1>Subscribe to newsletter</h1>
    <p>Zero span guaranteed, only news about latest blog posts and announcements.</p>

    <%= form_tag do %>

    <% end %>
  </div>
  <div class="social pure-u-1-4">
  </div>
  <div class="copyrights pure-u-1">
    <p>&copy; 2015 and beyond, Mauno Vähä. All rights reserved. | Something to ask? Try <strong>maunovaha@gmail.com</strong></p>
  </div>
</footer>