<section class="about" id="scroll-to-about">
  <header class="main-header">
    <h1>About</h1>
    <p>Who are we, or more like, who am I ?</p>
  </header>
  <div class="content">
    <p>Some really cool explanation for this whole mess....</p>
    <p>Regards, Mauno Vähä</p>
  </div>
</section>