<section class="blog" id="scroll-to-blog">
  <header class="no-top-border main-header">
    <h1>Blog</h1>
    <p>The blog contains information about our past and ongoing projects.</p>
  </header>
  <div class="content">
    <% @blog.latest_posts.each_with_index do |post, index| %>
      <article>
        <!-- Post aligner -->
        <% if index == 1 %>
          <div class="article-aligner"></div>
        <% end %>
        
        <!-- Post header -->
        <%= render "blog/post/header", post: post %>

        <!-- Post preview -->
        <p class="post-preview"><%= post.preview %></p>

        <%= link_to post.url, class: "btn-continue-reading" do %>
          Continue reading<i class="fa fa-angle-double-right"></i>
        <% end %>
      </article>
    <% end %>
  </div>
</section>