<section class="blog">
  <header class="no-top-border main-header">
    <h1>Blog</h1>
    <p class="extra-padding">The blog provides you information about our ongoing and past projects.</p>
  </header>
  <div class="content">
    <% @blog.latest_posts.each do |post| %>
      <article>
        <!-- Post header -->
        <%= render "blog/post/header", post: post %>

        <!-- Post preview -->
        <p><%= post.preview %> <%= link_to "continue reading", post.url %></p>

      </article>

      <!-- Post aligner -->
      <div class="article-aligner"></div>
    <% end %>

    <a href="#">Go to blog&nbsp;&nbsp;&rarr;</a>
  </div>
</section>