<section class="blog">
  <header class="no-top-border main-header">
    <h1>Blog</h1>
    <p>Many of the friends you know and love used to awesome system to make their things.</p>
    <p class="extra-padding">So its much better to do something than not.</p>
  </header>
  <div class="content">
    <% @blog.latest_posts.each do |post| %>
      <article>
        <!-- Post header -->
        <%= render "blog/post/header", post: post %>

        <!-- Post preview -->
        <p><%= post.preview %></p>
      </article>
    <% end %>
  </div>
</section>