<section class="blog">
  <header class="no-top-border main-header">
    <h1>Blog</h1>
    <p>Read the blog to find information about our latest projects.</p>
  </header>
  <div class="content">
    <% @blog.latest_posts.each_with_index do |post, index| %>
      <article>
        <!-- Post header -->
        <%= render "blog/post/header", post: post %>

        <!-- Post preview -->
        <p class="post-preview"><%= post.preview %></p>

        <a href="#" class="btn-continue-reading">Continue reading<i class="fa fa-angle-double-right"></i></a>

        <!-- Post aligner -->
        <% if index == 0 %>
          <div class="article-aligner"></div>
        <% end %>
      </article>
    <% end %>
  </div>
</section>

<!--  link_to "continue reading", post.url -->