<section class="games">
  <header class="no-bottom-border main-header">
    <!-- <i class="section-icon fa fa-gamepad"></i> -->
    <h1>Games</h1><!-- <i class="fa fa-star"></i> -->
    <p>These games are made from scratch during 48 hour game jam events.</p> 
    <p><small>(Don't expect them to be feature complete or bug free.)</small></p> 
  </header>
  <div class="showcase">
    <!-- Make showcase or some sort of label to top left corner? latest? or.. -->
  </div>
  <div class="content pure-g">
    <div class="image-wrapper pure-u-1-3">
      <img src="http://placehold.it/440x340" class="pure-img">
    </div>
    <div class="image-wrapper pure-u-1-3">
      <img src="http://placehold.it/440x340" class="pure-img">
    </div>
    <div class="image-wrapper pure-u-1-3">
      <img src="http://placehold.it/440x340" class="pure-img">
    </div>

    <div class="image-wrapper pure-u-1-3">
      <img src="http://placehold.it/440x340" class="pure-img">
    </div>
    <div class="image-wrapper pure-u-1-3">
      <img src="http://placehold.it/440x340" class="pure-img">
    </div>
    <div class="image-wrapper pure-u-1-3">
      <img src="http://placehold.it/440x340" class="pure-img">
    </div>

    <div class="image-wrapper pure-u-1-3">
      <img src="http://placehold.it/440x340" class="pure-img">
    </div>
    <div class="image-wrapper pure-u-1-3">
      <img src="http://placehold.it/440x340" class="pure-img">
    </div>
  </div>
</section>