<section class="games">
  <header class="no-bottom-border main-header">
    <h1>Games</h1>
    <p style="extra-margin">The games listed here are prototypes made from scratch during 48 hour game jam events.</p> 
    <p class="extra-padding"><small>(Don't expect them to be feature complete or bug free.)</small></p> 
  </header>
  <div class="showcase">
    <!-- Make showcase or some sort of label to top left corner? latest? or.. -->
  </div>
  <div class="content pure-g">
    <div class="image-wrapper pure-u-1-3">
      <img src="http://placehold.it/440x340" class="pure-img">
    </div>
    <div class="image-wrapper pure-u-1-3">
      <img src="http://placehold.it/440x340" class="pure-img">
    </div>
    <div class="image-wrapper pure-u-1-3">
      <img src="http://placehold.it/440x340" class="pure-img">
    </div>

    <div class="image-wrapper pure-u-1-3">
      <img src="http://placehold.it/440x340" class="pure-img">
    </div>
    <div class="image-wrapper pure-u-1-3">
      <img src="http://placehold.it/440x340" class="pure-img">
    </div>
    <div class="image-wrapper pure-u-1-3">
      <img src="http://placehold.it/440x340" class="pure-img">
    </div>

    <div class="image-wrapper pure-u-1-3">
      <img src="http://placehold.it/440x340" class="pure-img">
    </div>
    <div class="image-wrapper pure-u-1-3">
      <img src="http://placehold.it/440x340" class="pure-img">
    </div>
  </div>
</section>