<section class="others">
  <header class="main-header">
    <h1>Others</h1>
    <p class="extra-padding">A mix of random projects varying from graphical design to programming.</p>

    <!--
  The others are a list of projects ranging from web sites to graphics and open source.

    <p>Most of the games listed here are made during 48 hours or less (within gamejams).</p> 
    <p class="extra-padding">So do not expect them to be feature complete or bug free.</p> 
    -->
  </header>
  <div class="content pure-g">
  </div>
</section>