<section class="others">
  <header class="main-header">
    <h1>Others</h1>
    <p>Many of the friends you know and love used to awesome system to make their things.</p>
    <p class="extra-padding">So its much better to do something than not.</p>
  </header>
  <div>
    <p>Lol im content</p>
  </div>
</section>