<section class="others" id="scroll-to-others">
  <header class="main-header">
    <h1>Others</h1>
    <p>A mix of random projects varying from graphical design to programming.</p>
  </header>
  <div class="content pure-g">
    <div class="image-wrapper pure-u-1-4">
      <img src="http://placehold.it/440x340" class="pure-img">
    </div>
    <div class="image-wrapper pure-u-1-4">
      <img src="http://placehold.it/440x340" class="pure-img">
    </div>
    <div class="image-wrapper pure-u-1-4">
      <img src="http://placehold.it/440x340" class="pure-img">
    </div>
    <div class="image-wrapper pure-u-1-4">
      <img src="http://placehold.it/440x340" class="pure-img">
    </div>
  </div>
</section>