<!-- Inliner Build Version 4380b7741bb759d6cb997545f3add21ad48f010b -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
  </head>
  <body style="width: 100% !important; min-width: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; color: #3A4145; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 27.2px; font-size: 16px; background: #f7f7f7; margin: 0; padding: 0;" bgcolor="#f7f7f7"><style type="text/css">
a:hover {
color: #3D92C9 !important; text-decoration: underline;
}
a:active {
color: #3D92C9 !important;
}
a:visited {
color: #3D92C9 !important;
}
h1 a:active {
color: #3A4145 !important;
}
h2 a:active {
color: #3A4145 !important;
}
h3 a:active {
color: #3A4145 !important;
}
h4 a:active {
color: #3A4145 !important;
}
h5 a:active {
color: #3A4145 !important;
}
h6 a:active {
color: #3A4145 !important;
}
h1 a:visited {
color: #3A4145 !important;
}
h2 a:visited {
color: #3A4145 !important;
}
h3 a:visited {
color: #3A4145 !important;
}
h4 a:visited {
color: #3A4145 !important;
}
h5 a:visited {
color: #3A4145 !important;
}
h6 a:visited {
color: #3A4145 !important;
}
@media only screen and (max-width: 760px) {
  table[class="body"] img {
    width: auto !important; height: auto !important;
  }
  table[class="body"] center {
    min-width: 0 !important;
  }
  table[class="body"] .container {
    width: 90% !important;
  }
  table[class="body"] .row {
    width: 100% !important; display: block !important;
  }
  table[class="body"] .wrapper {
    display: block !important; padding-right: 0 !important;
  }
  table[class="body"] .columns {
    table-layout: fixed !important; float: none !important; width: 100% !important; padding-right: 0px !important; padding-left: 0px !important; display: block !important;
  }
  table[class="body"] .column {
    table-layout: fixed !important; float: none !important; width: 100% !important; padding-right: 0px !important; padding-left: 0px !important; display: block !important;
  }
  table[class="body"] .wrapper.first .columns {
    display: table !important;
  }
  table[class="body"] .wrapper.first .column {
    display: table !important;
  }
  table[class="body"] table.columns td {
    width: 100% !important;
  }
  table[class="body"] table.column td {
    width: 100% !important;
  }
  table[class="body"] .columns td.twelve {
    width: 100% !important;
  }
  table[class="body"] .column td.twelve {
    width: 100% !important;
  }
  table[class="body"] table.columns td.expander {
    width: 1px !important;
  }
  table[class="body"] .hide-for-small {
    display: none !important;
  }
  table[class="body"] .show-for-desktop {
    display: none !important;
  }
  table[class="body"] .show-for-small {
    display: inherit !important;
  }
  table[class="body"] .hide-for-desktop {
    display: inherit !important;
  }
}
</style>
  <table class="body" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; height: 100%; width: 100%; color: #3A4145; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 27.2px; font-size: 16px; margin: 0; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td class="center td-content-padding" align="center" valign="top" bgcolor="#f7f7f7" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #3A4145; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 27.2px; font-size: 16px; background: #f7f7f7; margin: 0; padding: 40px 0px;">
        <center style="width: 100%; min-width: 640px;">
          <table class="container" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: inherit; width: 640px; background: #fff; margin: 0 auto; padding: 0;" bgcolor="#fff"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #3A4145; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 27.2px; font-size: 16px; margin: 0; padding: 0;" align="left" valign="top">
                <table class="row" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: block; padding: 0px;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td class="wrapper" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #3A4145; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 27.2px; font-size: 16px; margin: 0; padding: 0px;" align="left" valign="top">
                      <table class="twelve columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 640px; margin: 0 auto; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #3A4145; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 27.2px; font-size: 16px; margin: 0; padding: 0px;" align="left" valign="top">
                            <img width="640" height="300" src="<%= @banner_url %>" style="outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; width: auto; max-width: 100%; float: left; clear: both; display: block;" align="left" /></td>
                          <td class="expander" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; color: #3A4145; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 27.2px; font-size: 16px; margin: 0; padding: 0;" align="left" valign="top"></td>
                        </tr></table></td>
                  </tr></table><table class="row" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: block; padding: 0px;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td class="wrapper" bgcolor="#ffffff" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #3A4145; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 27.2px; font-size: 16px; margin: 0; padding: 0px;" align="left" valign="top">
                      <table class="twelve columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 640px; margin: 0 auto; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td class="td-notification" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #3A4145; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 27.2px; font-size: 16px; margin: 0; padding: 48px 48px 10px;" align="left" valign="top">
                            <p class="font-bold" style="font-weight: bold !important; color: #3A4145; font-family: 'Helvetica', 'Arial', sans-serif; text-align: left; line-height: 27.2px; font-size: 16px; margin: 0 0 10px; padding: 0;" align="left">Hi,</p>
                            <p style="color: #3A4145; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 27.2px; font-size: 16px; margin: 0 0 10px; padding: 0;" align="left">You have just subscribed to our newsletter from <a href="http://www.maunovaha.com" style="color: #3D92C9; text-decoration: none;">maunovaha.com</a>.</p>
                          </td>
                          <td class="expander" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; color: #3A4145; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 27.2px; font-size: 16px; margin: 0; padding: 0;" align="left" valign="top"></td>
                        </tr></table></td>
                  </tr></table><table class="row" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: block; padding: 0px;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td class="wrapper" bgcolor="#ffffff" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #3A4145; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 27.2px; font-size: 16px; margin: 0; padding: 0px;" align="left" valign="top">
                      <table class="twelve columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 640px; margin: 0 auto; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td class="td-highlight" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; border-bottom-style: solid; border-bottom-color: #eeeeee; border-bottom-width: 1px; color: #3A4145; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 27.2px; font-size: 16px; margin: 0; padding: 0px 48px 48px;" align="left" valign="top">
                            <table class="table-highlight" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; overflow: hidden; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: center; color: #ffffff; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 27.2px; font-size: 16px; display: block; width: auto !important; background: #ECF8FF; margin: 0; padding: 20px; border: 1px solid #b9e5ff;" align="center" bgcolor="#ECF8FF" valign="top">  
                                  <p style="color: #3A4145; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 27.2px; font-size: 16px; margin: 0 0 10px; padding: 0;" align="left">In order to verify your subscription, please click the link below within <span class="font-bold" style="font-weight: bold !important;">next 48 hours</span>.</p>
                                  <p style="color: #3A4145; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 27.2px; font-size: 16px; margin: 0 0 10px; padding: 0;" align="left"><a href="<%= @activation_url %>" style="color: #3D92C9; text-decoration: none; font-size: 14px;">Click here to verify your subscription</a></p>
                                </td>
                              </tr></table></td>
                          <td class="expander" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; color: #3A4145; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 27.2px; font-size: 16px; margin: 0; padding: 0;" align="left" valign="top"></td>
                        </tr></table></td>
                  </tr></table><table class="row" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: block; padding: 0px;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td class="wrapper" bgcolor="#ffffff" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #3A4145; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 27.2px; font-size: 16px; margin: 0; padding: 0px;" align="left" valign="top">
                      <table class="twelve columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 640px; margin: 0 auto; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td class="td-details" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #3A4145; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 27.2px; font-size: 16px; margin: 0; padding: 48px 48px 24px;" align="left" valign="top">
                            <p style="color: #3A4145; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 27.2px; font-size: 16px; margin: 0 0 10px; padding: 0;" align="left">The verification is needed to prevent people from subscribing with an email address they doesn't own.</p>
                          </td>
                          <td class="expander" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; color: #3A4145; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 27.2px; font-size: 16px; margin: 0; padding: 0;" align="left" valign="top"></td>
                        </tr></table></td>
                  </tr></table><table class="row" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: block; padding: 0px;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td class="wrapper" bgcolor="#ffffff" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #3A4145; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 27.2px; font-size: 16px; margin: 0; padding: 0px;" align="left" valign="top">
                      <table class="twelve columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 640px; margin: 0 auto; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td class="td-not-you" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #3A4145; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 27.2px; font-size: 16px; margin: 0; padding: 0px 48px 48px;" align="left" valign="top">
                            <p style="color: #3A4145; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 27.2px; font-size: 16px; margin: 0 0 10px; padding: 0;" align="left">Not you?</p>
                            <p style="color: #3A4145; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; text-align: left; line-height: 27.2px; font-size: 16px; margin: 0 0 10px; padding: 0;" align="left">In that case, we are sorry for any inconvenience caused by us and feel free to delete this email.</p>
                          </td>
                          <td class="expander" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; color: #3A4145; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 27.2px; font-size: 16px; margin: 0; padding: 0;" align="left" valign="top"></td>
                        </tr></table></td>
                  </tr></table><table class="row" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 100%; position: relative; display: block; padding: 0px;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td class="wrapper" bgcolor="#f7f7f7" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; position: relative; color: #3A4145; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 27.2px; font-size: 16px; margin: 0; padding: 0px;" align="left" valign="top">
                      <table class="twelve columns" style="border-spacing: 0; border-collapse: collapse; vertical-align: top; text-align: left; width: 640px; margin: 0 auto; padding: 0;"><tr style="vertical-align: top; text-align: left; padding: 0;" align="left"><td align="center" class="footer-copy" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; color: #3A4145; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 27.2px; font-size: 16px; background: #f7f7f7; margin: 0; padding: 20px 0px;" bgcolor="#f7f7f7" valign="top">
                            <center style="width: 100%; min-width: 640px;">
                              <p style="text-align: center; font-size: 12px; color: #3A4145; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 27.2px; margin: 0 0 0px; padding: 0;" align="center">© 2015 and beyond, Mauno Vähä. All rights reserved.</p>
                            </center>
                          </td>
                          <td class="expander" style="word-break: break-word; -webkit-hyphens: auto; -moz-hyphens: auto; hyphens: auto; border-collapse: collapse !important; vertical-align: top; text-align: left; visibility: hidden; width: 0px; color: #3A4145; font-family: 'Helvetica', 'Arial', sans-serif; font-weight: normal; line-height: 27.2px; font-size: 16px; margin: 0; padding: 0;" align="left" valign="top"></td>
                        </tr></table></td>
                  </tr></table></td>
            </tr></table></center>
      </td>
    </tr></table></body>
</html>
