a,
a:visited,
a:hover,
a:active {
  color: #3D92C9;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.btn-continue-reading {
  font-size: 14px;

  i {
    margin-left: 8px;
  }
}

a.btn {
  padding: 12px;
  border-radius: 34px;
  text-decoration: none;
  -moz-transition: background-color .2s, color .2s;
  -o-transition: background-color .2s, color .2s;
  -webkit-transition: background-color .2s, color .2s;
  transition: background-color .2s, color .2s;
}

a.btn-primary {
  background-color: transparent;
  border: 2px solid #fff;

  &,
  &:visited,
  &:active {
    color: #fff;
  }

  &:hover {
    color: #333244;
    background-color: #fff;
    border-color: #fff;
  }
}

a.btn-secondary {
  background-color: transparent;
  border: 1px solid #3D92C9;

  &,
  &:visited,
  &:active {
    color: #3D92C9;
  }

  &:hover {
    color: #fff;
    background-color: #3D92C9;
  }
}