.clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.fa-input {
  font-family: FontAwesome, 'Open Sans', Helvetica, sans-serif, Arial;
}

.visible {
  opacity: 1 !important;
}

.inline-block {
  display: inline-block !important;
}

.display-none {
  display: none !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}