<span><i class="fa fa-star-o"></i></span>

<h1>Subscription complete</h1>

<p>Thank you for subscribing to our newsletter. You won't be disappointed!</p>

<p class="btn-wrapper"><%= link_to "Return to site", root_path, class: "btn btn-primary" %></p>