<span><i class="fa fa-info-circle"></i></span>

<h1>Subscription cancelled</h1>

<p>You no longer receive emails from our site. Thank you for reading our news!</p>

<p class="btn-wrapper"><%= link_to "Return to site", root_path, class: "btn btn-primary" %></p>