<span><i class="fa fa-envelope-o"></i></span>

<h1>Verify your subscription</h1>

<p>We have just sent you an email containing a link to verify your subscription.</p>
<p>The verification link is valid for <strong>next 48 hours</strong>.</p>

<p class="btn-wrapper"><%= link_to "Okey, take me back", root_path, class: "btn btn-primary" %></p>