<span><i class="fa fa-clock-o"></i></span>

<h1>Subscription failed</h1>

<p>It seems that you tried to subscribe with a link which is already expired.</p>
<p>It's okay, return to site and fill subscription form again.</p>

<p class="btn-wrapper"><%= link_to "Return to site", root_path, class: "btn btn-primary" %></p>