a,
a:visited,
a:hover,
a:active {
  color: #3D92C9; /* #E9811B; */
}

a,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.btn-continue-reading {
  &,
  &:visited,
  &:active,
  &:hover {
    color: #3A4145;
  }

  i {
    margin-left: 6px;
  }
}