a,
a:visited,
a:hover,
a:active {
  color: #3D92C9; /* #E9811B; */
}

a,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a.btn-continue-reading {
  &,
  &:visited,
  &:active,
  &:hover {
    color: #3A4145;
  }

  i {
    margin-left: 6px;
  }
}

a.btn {
  padding: 12px;
  border-radius: 34px;
  text-decoration: none;
  -moz-transition: background-color .2s, color .2s;
  -o-transition: background-color .2s, color .2s;
  -webkit-transition: background-color .2s, color .2s;
  transition: background-color .2s, color .2s;
}

a.btn-primary {
  background-color: transparent;
  border: 2px solid #fff;

  &,
  &:visited,
  &:active {
    color: #fff;
  }

  &:hover {
    color: rgba(51, 50, 68, 0.89);
    background-color: #fff;
    border-color: #fff;
  }
}