<header class="header-blog">
  <nav>
    <ul>
      <li><a href="#">maunovaha.com</a></li>
      <li style="margin: 0px 6px;">&raquo;</li>
      <li><a href="#">blog</a></li>
      <li style="margin: 0px 6px;">&raquo;</li>
      <li><a href="#" class="selected">tags</a></li>
    </ul>
  </nav>
</header>