<p>This is a blog index.. below are the posts..</p>

<!-- Should have first post as a whole -->
<!-- Then it should have rest of the posts as a preview -->
<!-- Then the paging ofc. -->
<!-- Then recent posts or archives or hash tags at the right side -->
<!-- maybe both? (recent & hash tags) -->

<!--
render partial: "blog/post", collection: @blog.posts[:all]
-->