<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="An epic journey of a man from beginner to pro in programming.">
  <title>maunovaha.github.io</title>
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
</head>
<body>

<!-- HTML5 games, tutorials and things you wan't to know about software development. -->
<!-- Everything you ever wanted to know about .... mostly games -->

<header class="site-header">
  <div class="content pure-g">
    <div class="pure-u-1 pure-u-lg-12-24">
      <a href="/blog" class="logo">maunovaha.com</a>
    <!--
      <p style="margin-top: 0px; margin-bottom: 0px;"><a href="/blog" class="logo">maunovaha.com</a>&raquo; <em style="font-size: 12px;">An epic journey of a man from beginner to pro in programming.</em></p>
    -->

    </div>
    <div class="pure-u-1 pure-u-lg-12-24">
      <nav>
        <ul>
          <li><a href="/blog" class="selected">blog</a></li>
          <li><a href="/about">about</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <!--
  <div class="pure-u-1 pure-u-lg-19-24">
    <a href="/blog" class="logo">maunovaha.com</a>
  </div>
  <div class="pure-u-1 pure-u-lg-5-24">
    <nav>
      <ul>
        <li><a href="/blog" class="selected">blog</a></li>
        <li><a href="/about">about</a></li>
      </ul>
    </nav>
  </div>
-->
  <!--
  <div class="content pure-g">
    <div class="pure-u-1 pure-u-lg-19-24">
      <h1><a href="/blog">maunovaha.com</a></h1>
      <p><em>"An epic journey of a man from beginner to pro in programming."</em></p>
    </div>
    <div class="pure-u-1 pure-u-lg-5-24">
      <nav>
        <ul>
          <li><a href="/blog" class="selected">Blog</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>
    </div>
  </div>
  -->
</header>

<div class="site-content pure-g">
  <div class="post pure-u-1 pure-u-lg-24-24">
    <!-- start of {{ post }}-->
    <article>
      <header class="post-header">
        <h1 class="post-title">An epic journey of a man from beginner to pro in programming.</h1>
        <p class="post-meta">By <!--<a href="/about" class="post-author">Mauno Vähä</a> --><span style="color: #4A6B82;">Mauno Vähä</span> under <a href="#" class="no-margin tag">about-me</a><a href="#" class="tag">1gameamonth</a><a href="#" class="tag">morpg</a></p>
      </header>
      <!--
      <img alt="Mauno's picture" src="http://placehold.it/763x400">
      -->
      <p>Hi, <b>I'm Mauno Vähä</b> and I have an interesting journey ahead. But first, let me briefly introduce myself.</p>
      <h2 style="margin-top: 40px;">About me</h2>
      <p>
        I'm a 28 years old, programmer by work/hobby, student, CS:GO player and a dude (obviously).
      </p>
      <p>
        I've been programming for a quite sometime, many years actually. I got my first experiences to programming over 13 years ago when notepad was still a superb text editor and internet explorer 6 "amazing" browser. Hence, at first, I didn't really knew whether I should become a programmer or a graphic designer; I liked them both. It was only later that I grew to like programming more, mostly because of my studies.
      </p>
      <p>
        That being said, I've also been studying for a while. I first graduated as a media assistant with a focus on web programming/multimedia and later on received bachelor's degree in information processing science with a focus on software development. Yet, my master's degree is still pending, but I have a good chance to graduate during upcoming year (yay!). Thus, it's one of the reasons why this website exists in the first place. But bear with me, we'll talk about that in a moment.
      </p>
      <p>
        Finally, among studying, I've been working at the IT industry for a while now. I started off by doing a lot of trainee work in companies and simple websites <a href="#">like this</a> to my family and cousins. Later on, I worked as a software designer in the sports technology industry. Today, I am working as a systems specialist in the financial industry. And, if I were to describe my area of expertise: it's web development using Java/Ruby/JavaScript and a like. However, in order to keep this introduction brief, it's easier if you check out my <a href="#">linkedin profile</a>.
      </p>
      <p>
        But where's the fun? Don't worry, it's not that I haven't done anything else; I still see people outside the internet - I guess. But, within context of this website those stories are rather irrelevant as this website is about <b>the epic journey</b> I'm going to reveal. Therefore, trust me when I say this: you'll won't be seeing any blog posts regarding fashion, makeups and whatnot; Not from this site. <!--Interestingly, however, that hoodie I'm wearing at the picture is a brand new! -->
      </p>
      <p>
        <b>Now, let's move into the interesting part.</b>
      </p>
      <p>
        I've also been making (and trying to make) games and other web applications on and off as long as I have been programming.
      </p>
      <p>
        At first, I used to make games using programs, such as <a href="#">Game Maker</a> and <a href="#">RPG toolkit</a>. Later on I even tried C++/JavaScript/Python and various other things. Hence, a word "tried" is important here, because I often lacked focus, skills and motivation to finish. Sometimes I was just trying to make something too big, too soon. For instance, making of 2D MMORPG as one of the first games wasn't a good idea - it rarely is. For the record, it actually took ten years before I released my first <a href="#">MORPG experiment</a> during a game jam. But even then, it had bugs and didn't work well over wireless networks. Of course, I wanted to know why, so I even made a research about <a href="#">the effect of the internet on multiplayer online game development</a>.
      </p>
      <p>
        Looking back now, releasing one or two crappy projects is way more important than starting three new ones as a excuse to "make it right this time". Hence, once I started to participate to local game jams and other open hacks held here in Oulu (Finland), I realized that it's okey to show off your crappy projects. After all, it's not like I mastered driving of a bicycle at a first, a third or even a tenth try - making games nor complex applications is not that easy. Thus, if it would, I wouldn't wanted to be a programmer.
      </p>
      <p>
        In summary, I feel that I have managed to achieve some great things in my life, but there is still a lot of great things to be achieved. Which gets to the main purpose of this website: the epic journey.
      </p>
      <!--

        managed to achieve some good things in my life, but I do have some regrets towards games and applications I haven't released. Which gets to the main purpose of this website. The epic journey.
      </p>
      -->
      <h2 style="margin-top: 40px;">The epic journey</h2>
      <p><b>In short, the epic journey is about me trying to get better at making games and applications.</b></p>

      <p>
        Hence, I sincerely believe that in order to do so, I need to be more systematic about it and find out what works and what doesn't. For this, I need people like you to help me out - to tryout the things I have build. However, what I need most is to set reasonable goals and to have focus. That being said, in 2015 I wan't to focus purely on making games.
      </p>
      <p>
        <b>But why should you care?</b>
      </p>

      <p>
        Well, the changes are that you are also battling to become better at making games. Or maybe, you are just curious to see when a guy keeps failing every step of the way. However, at best my website will serve you as a resource to avoid making the same mistakes. But now, let's see the goals I have planned.
      </p>

      <p>
        <b>Year 2015</b>
      </p>
      <ul>
        <li>One game a month, total of 12 games with a postmortem.</li>
        <li>Dev logs describing the difficulty of developing 2D tile-based MORPG.</li>
        <li style="color: #999;">Game programming tutorials (If I have any freetime.)</li>
      </ul>

      <p>
        Okey, so there you have it. I hope you find it as interesting and as challenging as I do. I have a lot of work ahead, but keeping things simple I believe I can succeed.
      </p>

      <p>
        So this is the end of this blog post, my very first blog post ever. Next time, I am going to talk about what wen't wrong with my previous games. Stay tuned.
      </p>

      <p>
        With best regards, Mauno.
      </p>
    </article>
    <!-- end of {{ post }}-->
  </div>
  <!--
  <div class="post-navigation pure-u-1 pure-u-lg-5-24">
    <aside>
      <nav class="post-navigation-group">
        <h4>Archives</h4>
        <ul>
          <li><a href="#">December 2014</a></li>
          <li><a href="#">Nomember 2014</a></li>
          <li><a href="#">July 2014</a></li>
          <li><a href="#">January 2014</a></li>
          <li><a href="#">December 2013</a></li>
          <li><a href="#">July 2013</a></li>
          <li><a href="#">February 2013</a></li>
        </ul>
      </nav>
      <nav class="tags-group post-navigation-group">
        <h4>Tags</h4>
        <ul>
          <li><a href="#" class="tag">phaserjs</a></li>
          <li><a href="#" class="tag">javascript</a></li>
          <li><a href="#" class="tag">ruby</a></li>
          <li><a href="#" class="tag">html</a></li>
          <li><a href="#" class="tag">css</a></li>
          <li><a href="#" class="tag">rails</a></li>
          <li><a href="#" class="tag">playframework2</a></li>
        </ul>
      </nav>
    </aside>
  </div>
  -->
</div>

<footer>
  <div class="site-footer">
    <h2 style="margin-bottom: 24px;">Welcome aboard</h2>
<pre style="white-space: pre; word-wrap: normal; font-style: monospace; line-height: normal;">
<!--
                |              ~.~
               )_)    |
              )___)  )_)    ~.~
       __|_  )____) )___)
       \___\____|_____|_____
---------\                 /---------
        ^^^^^^^^^^^^^^^^^^^^
    ^^      ^^^^     ^^^     ^^
       ^^^^      ^^^      ^
-->
</pre>
    <p>An epic journey of a man has just began. To keep updated, it is highly recommended that you jump on deck.</p>
      <a href="https://twitter.com/maunovaha" class="twitter-follow-button" data-show-count="true">Follow @maunovaha</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>
  <div class="site-footer-copyright">
    <p>
      &copy; 2015 and beyond, <a href="">Mauno Vähä</a>. All rights reserved.
    </p>
  </div>
</footer>

<!-- {{ content }} -->

</body>
</html>
