<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="An epic journey of a man from beginner to pro in programming.">
  <title>maunovaha.github.io</title>
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
</head>
<body>

<!-- HTML5 games, tutorials and things you wan't to know about software development. -->
<!-- Everything you ever wanted to know about .... mostly games -->

<header class="site-header">
  <div class="content pure-g">
    <div class="pure-u-1 pure-u-lg-12-24">
      <a href="/blog" class="logo">maunovaha.com</a>
    <!--
      <p style="margin-top: 0px; margin-bottom: 0px;"><a href="/blog" class="logo">maunovaha.com</a>&raquo; <em style="font-size: 12px;">An epic journey of a man from beginner to pro in programming.</em></p>
    -->

    </div>
    <div class="pure-u-1 pure-u-lg-12-24">
      <nav>
        <ul>
          <li><a href="/blog" class="selected">blog</a></li>
          <li><a href="/about">about</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <!--
  <div class="pure-u-1 pure-u-lg-19-24">
    <a href="/blog" class="logo">maunovaha.com</a>
  </div>
  <div class="pure-u-1 pure-u-lg-5-24">
    <nav>
      <ul>
        <li><a href="/blog" class="selected">blog</a></li>
        <li><a href="/about">about</a></li>
      </ul>
    </nav>
  </div>
-->
  <!--
  <div class="content pure-g">
    <div class="pure-u-1 pure-u-lg-19-24">
      <h1><a href="/blog">maunovaha.com</a></h1>
      <p><em>"An epic journey of a man from beginner to pro in programming."</em></p>
    </div>
    <div class="pure-u-1 pure-u-lg-5-24">
      <nav>
        <ul>
          <li><a href="/blog" class="selected">Blog</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>
    </div>
  </div>
  -->
</header>

<div class="site-content pure-g">
  <div class="post pure-u-1 pure-u-lg-24-24">
    <!-- start of {{ post }}-->
    <article>
      <header class="post-header">
        <h1 class="post-title">An epic journey of a man from beginner to pro in game programming.</h1>
        <p class="post-meta">By <a href="/about" class="post-author"><em>Mauno Vähä</em></a> under <a href="#" class="post-tag tag">introduction</a><a href="#" class="post-tag tag">morpg</a></p>
      </header>
      <!--
      <img alt="Mauno's picture" src="http://placehold.it/763x400">
      -->
      <p>Hi, <b>I'm Mauno Vähä</b> and I have an interesting journey ahead. But first, let me briefly introduce myself.</p>
      <h2 style="margin-top: 40px;">About me</h2>
      <p>
        I'm a 28 years old, programmer by work/hobby, student, CS:GO player and a <a href="http://www.urbandictionary.com/define.php?term=sexy+beast" target="_blank" style="text-decoration: line-through;">sexy beast</a>.
      </p>
      <p>
        I've been programming for a quite sometime, many years actually. I got my first experiences to programming over 15 years ago when notepad was still a superb text editor and internet explorer 6 "amazing" browser. Hence, at first, I didn't really knew whether I should become a programmer or a graphic designer; I liked them both. It was only later that I grew to like programming more, mostly because of my studies.
      </p>
      <p>
        That being said, I've also been studying for a while. I first graduated as a media assistant with a focus on web programming/multimedia and later on received bachelor's degree in information processing science with a focus on software development. Yet, my master's degree is still pending, but I have a good chance to graduate during upcoming year (yay!). Thus, it's one of the reasons why this website exists in the first place. But bear with me, we'll talk about that in a moment.
      </p>
      <p>
        Finally, among studying, I've been working at the IT industry for a while now. I started off by doing a lot of trainee work in companies and simple websites <a href="#">like this</a> to my family and cousins. Later on, I worked as a software designer in the sports technology industry. Today, I am working as a systems specialist in the financial industry. And, if I were to describe my area of expertise: it's web development using Java/Ruby/JavaScript and a like. However, in order to keep this introduction brief, it's easier if you check out my <a href="#">linkedin profile</a>.
      </p>
      <p>
        But where's the fun? Don't worry, it's not that I haven't done anything else; I still see people outside the internet - just don't ask from my friends about it. But, within context of this website those stories are rather irrelevant as this website is about <b>the epic journey</b> I'm going to travel. Therefore, trust me when I say this: you won't be seeing any blog posts regarding fashion, makeups and whatnot; not from this site. <!--Interestingly, however, that hoodie I'm wearing at the picture is a brand new! -->
      </p>
      <p>
        <b>Now, let's move into the interesting part.</b>
      </p>
      <p>
        I've also been making (and trying to make) games and other web applications on and off as long as I have been programming.
      </p>
      <p>
        At first, I used to make games using programs, such as <a href="#">Game Maker</a> and <a href="#">RPG toolkit</a>. Later on I even tried C++/C#/JavaScript/Python and whatnot. I tried it all, but it wasn't good enough; I wasn't good enough. I have realized after years of programming that getting sh*t done is way more important than low level techniques or editors you are actually choosing. The end user, the player of your game nor the user of what-ever-application you are developing is not going to see that. Developers, like me, often gets caught to a cold hard fact that sometimes choosing of "cool technique" seems to be more important than actually releasing the damn thing. It's not about games, I have seen that sometimes people just love the tools more than actual product..




        However, the point is that I have started way too many games and applications than I have actually released; it's umbeliable stressing.
      </p>


      <h2>The epic journey</h2>
      <p>In short, <b>the epic journey is about me to trying to get better at making games.</b>

      <p>
        Hence, I will try my best to correct some of the mistakes I have been previously made from the past.

        Hence, I will be starting by correcting some of the mistakes I have done in the past by doing 2D MORPG

        Hence, I believe that only reasonable way to do this is just to make more games. Therefore, that is the reason why this website is being made. I'm going to transition from </p>
      <p>
        I've also been making (and trying to make) games and other web applications on and off as long as I have been programming.
      </p>
      <p>
        At first, I used to make games using programs, such as <a href="#">Game Maker</a> and <a href="#">RPG toolkit</a>.
      </p>
      <p>
        What to expect from this site:
      </p>
      <ul>
        <li>x</li>
        <li>y</li>
        <li>z</li>
      </ul>
      <p>
        However, even though I am making games during 2015, there is still a possibility that I am making apps during 2016 and so forth. I dont want to yet limit my area of ... plaa plaa as there is a chance ... plaa plaa.
      </p>
      <!--
      <p>
        I started off making games using programs that didn't require much programming knowledge, such as <a href="#">Game Maker</a> and <a href="#">RPG toolkit</a>. Yet, I quickly realized that the Game Maker was actually the better of the two; I believed that it's flexible enough to produce a game of my dreams. And guess what, the game happened to be a damn <a href="#">2D MMORPG</a>. Hence, don't get my wrong, there is nothing wrong with 2D or even 3D MMORPG's - they are awesome! But the problem is, that today, around 10 years later <b>I still haven't made that game</b>. That's the problem.
      </p>
      <p>


        though that I could make a game of my dreams by using it.


        by using tools such as <a href="#">Game Maker</a> and <a href="#">RPG toolkit</a>because they didnt't require much programming knowledge. Yet very quickly to realize that the Game Maker



        Later on, I realized that the Game Maker was actually the better of the two; I felt that it's flexible enough to produce



        Hence, it didn't take very long to realize that the Game Maker was the better of the two; I felt that it's flexible enough to produce a game of my dreams. And guess what, that game happened to be a damn <a href="#">2D MMORPG</a>. Don't get me wrong, there is nothing wrong with 2D or even 3D MMORPG's. But the problem is, that today, around 10 years later <b>I still haven't made that game</b> - that's the problem.
      </p>
      <p>
        What wen't wrong? That's a good question, yet, rather easy to answer:
      </p>

      <p>
        <b>1) I was trying to make a game which is far too complex for any starting game developer.</b>
      </p>

      <p>
        To prove my point I don't even know any game developer in person which has made MMORPG as their first game, or even third or tenth. Heck, I don't know anyone which has even made a MMORPG - those babies are rare.
      </p>

      <p>
        2) I was constantly swapping ...
      </p>


        Yet, I highly believe that it was me which made a lot of mistakes (= equals to learning) along the way as well. For instance,



        Instead, I got caught to a endless loop of trying out different programming languages between C/C++/C#/Python and building everything from too low level to get anything actually finished. As sad as it might sound, I think that for a very long time, the game which I first build with Game Maker was the closest of being MMORPG, even though it ended up being a very buggy single player game! :D.


         in it's true meaning; that's how hard it really is.




         Why not? Well that's a good question, yet rather easy to answer: I was trying to make something which is way too complex and big for me to handle. After all, I was just starting out as a game developer.




        that today, around 10 years later from that time, <b>I still haven't made that game</b>.



        . Don't get me wrong, there is nothing wrong with 2D MMORPG's or even 3D, but the thing is, that today - around 10 years later -

        I was like most of the starting game developers back then, I wanted to


        so that I could make a game of my dreams: <a href="#">2D MMORPG</a>, something like <a href="#">Dransik</a>, but better. But today, around 10 years later, <b>I still haven't made that game</b>. What wen't wrong? Well, that's a good question, yet rather easy to answer: Without knowing, I set a goal which were simply too big; MMORPG's are by nature one of the most challenging and irrealistic goals for any starting game developer. There is simply no way, that it's possible to program MMORPG as your first game, maybe not even your second or tenth - it depends on the level of expertise, but I'm just saying. Yet, I highly believe that I made a lot of mistakes myself which slowed me down along the way. At some point of course,


      </p>
      <p>
        ..How little did I knew about programming..





        enough to start to make a game of my dreams: 2D <a href="#">MMORPG</a>. To be more precise, I wanted to make a game like <a href="#">Dransik</a> which me and my friends used to play several hours per day. However, how little did I knew what I was actually trying to accomplish.


        it could allow me to make a game of my dreams: 2D <a href="#">MMORPG</a>. To be more precise, I wanted to make a game like <a href="#">Dransik</a> which me and my friends used to play a lot. Ohh, boy. How little did I knew which I was actually trying to accomplish.



        about programming back then? MMORPG's are by nature one of the most challenging, and most irreleastic goal for any starting game developer to have.


        Yet, I quickly discovered that Game Maker was the better of the two, as I felt that it could allow me to make a game I have always wanted. What was the game then? Obvisouly, it happened to be most challenging, and most irrealistic goal any starting game developer could have: <a href="#">MMORPG</a>. To be more precise, I wanted to make a game like <a href="#">Dransik</a> which me and my friends enjoyed to play a lot. However, over 10 years later from that time, I still haven't made the game of my dreams. I failed miserable, I didn't have the skillset nor motivation to finish. Instead, I got caught to a endless loop of trying out different programming languages between C/C++/C#/Python and building everything from too low level to get anything actually finished. As sad as it might sound, I think that for a very long time, the game which I first build with Game Maker was the closest of being MMORPG, even though it ended up being a very buggy single player game! :D.




        Fun fact, over 10 years later, I still haven't made the game of my dreams. I think the initial problem with the game was rather obvious, I simply set a goal which was a way too high for me.
      </p>
      <p>



        . What was the game then? Obvisouly, it happened to be most challenging, and most irreleastic goal any starting game developer often has: To make own 2D MMORPG.




        Yet I quickly discovered that Game Maker was the better of the two, as I didn't have much programming experience. Moreover, my mind was already fixed towards a certain goal: To make my own 2D MMORPG which could as good as <a href="#">Dransik</a>. <br > <br >

        already had my mind fixed towards a certain goal, and


        Yes, you guessed right, I wanted to make my own 2D MMORPG which is probably the most common and the most unrealistic goal any beginner game programmer could have. But like many others, I had it too and I still have.



        was not a tool that I wanted to use. The reason was that I had already my find fixed towards a certain goal. Guess what? That goal was almost the same as every developer


        The reason being that I had very little of programming knowledge.


        those programs felt beginner friendly. However, I very quickly dropped RPG toolkit out of the options because I had already fixed my mind towards a certain goal.
      </p>
    -->
      <!--
      <p>




         (Randomly, so to speak. It's not like



        ). I started off making games by using tools such as <a href="#">Game Maker</a> and <a href="#">RPG toolkit</a>. Heck, I even made a buggy snakegame using Java! (If this doesn't get you exited, I don't know what will).
      </p>
      <p>

        As most of the developers grasping


        I started off by using tools such as <a href="#">Game Maker</a> and <a href="#">RPG toolkit</a>. I felt that those were good programs because I didn't yet any real programming knowledge. But despite that fact, I set immediately very BIG and unrealistic goal of developing own 2D MMORPG. Fun fact, around 10 years later, I still haven't.


      </p>
      <p>

        Thus, I had a same dream as most of the starting developers: I wanted to make my own MMORPG. Fun fact, around 10 years later, I still haven't.




        I started off by using Game Maker and RPG toolkit.
        <br/>







        and websites like this to my cousins. Later on, I was programming with Java for a few years and today working as a Ruby developer in the financial industry. Thus,
        <br />


        later on were employed as a Java developer. Currently, I am working as a Ruby developer in the financial industry. Thus, don't get me wrong, those are not the only languages I've been using, I'm just trying to keep this introduction brief. Hence, rest of the current me can be found from <a href="http://fi.linkedin.com/in/maunovaha" target="_blank">linkedin</a> for example.
      </p>
      <p>
        Now, let's move into the good news!
      </p>

      <h2>The epic journey</h2>
      <p>As promised within start of this post, I have this jorney I am ramping about.</p>

      <p>

        programmed using Today, I am working as a ruby developer at financial industry.




        using mostly PHP/MySQL and later on





        And before you ask: yes, my master's degree is still pending, but I am going to graduate during upcoming year (finally!).
      </p>

      <p>
        Finally, among programming and studying, I have also worked at the industry for a while with a focus on web devepment.
      </p>
      <p>

        firstly because I wanted to make games, secondly because I had a chance to study programming.



        Thus, it is one of the reasons why this website exists in a first place, as it relates to the journey I am about to begin.




        and later I received B.S degree in information processing science. And yes, my M.S degree is still "on the way".


        In short, I've been programming using several of different programming languages, such as PHP/Java/Ruby
      </p>
      <p>
        I've been also <b>studying</b> for a quite sometime, I graduated to media-assistant at 2005 with focus on programming and multimedia.



         while <b>studying</b> to be media-assistant. That being said, I have also a B.S degree in information processing science and M.S "on the way".
      </p>
      <p>


         PHP/MySQL. Don't get me wrong, I have also programmed using several other languages, but those are the ones which we used while studying to be media-assistant. That being said, I have also a B.S degree in information processing science and M.S "on the way".




        playing around with PHP/MySQL in school


        . That being said, I have a B.S degree in information processing science and M.S "on the way".



        My main area of expertise is web development focusing, but not limited to,


        My area of expertise is web programming focusing on


         or similar and I have currently B.S degree in information processing science and M.S on the way.

        Lets face it, I've been programming, studying and playing games for a very long time. My first computer were a commodore 64, programming language turbo pascal and typical CSS/HTML and degree media-assistant with majority in multimedia and programming.


        I've been <b>programming</b> for a quite sometime, many years actually. I got my first experiences to programming over 15 years ago when notepad was still a superb text editor and internet explorer 6 "amazing" browser. Hence, at first, I didn't really knew whether I wanted to be a programmer or a graphic designer; I liked them both. It was only later when I grew to like programming more. As a result, and through hard work and dedication I am currently emloyed as a programmer, mostly using ruby in daily basis.


        I have been studying and using several kind of programming languages.



        Yet, my primary motivation behind any of this geek stuff were a fact that I wanted to make games. As I have, but we'll talk about this more in a moment.
      </p>
      <p>


        Today, I'm a programmer working at financial industry, and mostly playing around with ruby. I have also done lots of Java/JavaScript/PHP even C/C++/C#. It is easy to conclude that at some point of my life, I though that I could master it all.
      </p>
      <p>
        I've been <b>studying</b>

        - What you been studying
        - Working experience (roughly)
        - Programming languages and area of expertise (roughly)
        - Tell to see rest of the stuff from linkedin... And now, lets move to the good news.
          - Through years I have also been making games during freetime. I have started way more projects (not just games) which I could finish. I believe this is something which has happened to many of us working with tech. Tons of ideas; lack of focus or motivation.


        Yet, my primary motivation behind any of this geek stuff were just to make games. As I have, but we'll talk about this more in a moment.
      </p>
      <p>
        I've been also <b>studying</b> for a long time, I first graduated to media-assistant between years 2002 - 2005 with focus on programming and graphical design. Later on, I got into university and started to study information processing science. As a result, I have B.S degree in information progressin science, whereas still master thesis pending.
      </p>


        However, as of today I wonder, did I ended to be a programmer I wanted to be?



        Hence, I was a kid, I wanted to make best MMORPG in the world. Fun fact, this was around 11 years ago, and I still haven't.

        After all, I wanted to make games and it was hard without state-of-the-art programming knowledge.
      </p>
      <p>
        Among programming I have been




        have been visiting gym (around 10 years ?) and playing games, such as counter-strike (latest CS:GO). To be noted, ofc. I have been doing other things too but this is me "briefly" telling about myself.



        However, my primary motivation behind all this were to make games in the future.


        I was only by accident that I thrift

        My primary motivation to become a programmer were to make



        However, to keep this brief I suggest that you read more about my professional journey from linkedin.




        I haven't let go of graphics completely, I have done graphical designing


        I believe variety is a great asset.


        let go of graphics completely, I do like to play around with pixels.

        At first, I didn't really knew whether I should be a programmer or a graphic designer, as I liked them both. However, I ended up choosing a programming career because I liked the feeling which you got after solving



         and my primary motivation were to make games anyway.


        I wanted to learn more and be able to make my own games.


        Today, I'm a making a living by programming in a company called OP.




        As of today, I am making software day to day basis under a company called OP.



        At first, I didn't knew whether I should be a graphic designer or programmer, but I grew to like programming more as my primary goal was to make games. As of today, I am making a living by doing programming at the financial industry, but game programming is still
      </p>
      <p>
        Among programming, my hobbies includes lifting weights.

        I didn't initially knew whether I should be a programmer or graphic designer, but I sticked with programming as succeeding to do nice things got me motivated to try harder.



        I got my first experiences during school course with turbo pascal and then on tried to enhance my skills to be better at it. Notepad used to be
      <p>
      </p>
      <p>

        .. which gets to the point why this website is being made, I am going to return to filling that goal which I initially had as a programmer in the first place. I know that I have been growing to like webdeveloping as well, but I still have some part of me which wants to make games. If possible, I am actually interested in both, even mix of them both via gamification. So, that gets to the point.Main purpose of this website if to write about me writing games. And I am not talking any kind of games, I am talking about games which people are playing and enjoying to play at. If possible, my primary goal is to make a game which even I are enjoying to play with. Therefore I could here and now to conclude that those metrics will be measure of success during this trip. And, therefore I invite you to this trip with me. Welcome aboard traveller, lets make and experience some great things together.

        To keep up with my journey, is a lot easier by following me at twitter or just subsribing to the mailing list.

        -- Make it or break it, is it possible to succeed?
      </p>
      <h2>You</h2>
      <p>
        Here’s a quick taste of what you’ll find here...<br />

        - Proven ways to get strong, reverse injury, and cure disease
        - Ideas for improving your work and your health at the same time
        - Why art is healthy (and why creating more can save your life)
      </p>
      <h2>The journey</h2>
      <p>As promised within start of this post, let's move on to the good news.</p>
      <p>See, the good news is that you have reached that weird part of the internet which you give insights, examples and tutorials about programming. In other words, I will be posting..
      </p>
      -->
    </article>
    <!-- end of {{ post }}-->
  </div>
  <!--
  <div class="post-navigation pure-u-1 pure-u-lg-5-24">
    <aside>
      <nav class="post-navigation-group">
        <h4>Archives</h4>
        <ul>
          <li><a href="#">December 2014</a></li>
          <li><a href="#">Nomember 2014</a></li>
          <li><a href="#">July 2014</a></li>
          <li><a href="#">January 2014</a></li>
          <li><a href="#">December 2013</a></li>
          <li><a href="#">July 2013</a></li>
          <li><a href="#">February 2013</a></li>
        </ul>
      </nav>
      <nav class="tags-group post-navigation-group">
        <h4>Tags</h4>
        <ul>
          <li><a href="#" class="tag">phaserjs</a></li>
          <li><a href="#" class="tag">javascript</a></li>
          <li><a href="#" class="tag">ruby</a></li>
          <li><a href="#" class="tag">html</a></li>
          <li><a href="#" class="tag">css</a></li>
          <li><a href="#" class="tag">rails</a></li>
          <li><a href="#" class="tag">playframework2</a></li>
        </ul>
      </nav>
    </aside>
  </div>
  -->
</div>

<footer>
  <div class="site-footer">
    <h4>Welcome aboard</h4>
    <!--
    <img style="border-radius: 68px; border: 1px solid #eee;" alt="Mauno's picture" height="68" width="68" src="https://pbs.twimg.com/profile_images/2708384678/45bbab95e4361fb7bbcd8d6ec0647431_400x400.png">
    -->
    <p>An epic journey of a man from beginner to pro in programming has just began. To keep updated, it is highly recommendable to buckle up and jump on board. (Ofc. you might wan't to do that in different order..)</p>
      <a href="https://twitter.com/maunovaha" class="twitter-follow-button" data-show-count="true">Follow @maunovaha</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>
  <div class="site-footer-copyright" style="text-align: center; padding: 10px;">
    <p style="font-size: 12px; margin: 0px; color: #555;">
      &copy; 2014 and beyond, Mauno Vähä. All rights reserved. | Powered by <a href="http://jekyllrb.com/" target="_blank">jekyll</a></p>
  </div>
</footer>

<!-- {{ content }} -->

</body>
</html>
