<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="An epic journey of a man from beginner to pro in programming.">
  <title>maunovaha.github.io</title>
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
</head>
<body>

<!-- HTML5 games, tutorials and things you wan't to know about software development. -->
<!-- Everything you ever wanted to know about .... mostly games -->

<header class="site-header pure-g">
  <div class="pure-u-1 pure-u-lg-19-24">
    <a href="/blog" class="logo">maunovaha.com</a>
  </div>
  <div class="pure-u-1 pure-u-lg-5-24">
    <nav>
      <ul>
        <li><a href="/blog" class="selected">blog</a></li>
        <li><a href="/about">about</a></li>
      </ul>
    </nav>
  </div>
  <!--
  <div class="content pure-g">
    <div class="pure-u-1 pure-u-lg-19-24">
      <h1><a href="/blog">maunovaha.com</a></h1>
      <p><em>"An epic journey of a man from beginner to pro in programming."</em></p>
    </div>
    <div class="pure-u-1 pure-u-lg-5-24">
      <nav>
        <ul>
          <li><a href="/blog" class="selected">Blog</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>
    </div>
  </div>
  -->
</header>

<!--
<header class="site-header">
  <div class="content">
    <nav>
      <ul>
        <li><a href="/blog" class="selected">Blog</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
    <div class="introduction">
      <h1><a href="/blog">maunovaha.com</a></h1>
      <p><em>"An epic journey of a man from beginner to pro in programming."</em></p>
    </div>
  </div>
</header>
-->


<div class="site-content pure-g">
  <div class="post pure-u-1 pure-u-lg-19-24">
    <!-- start of {{ post }}-->
    <article>
      <header class="post-header">
        <h1 class="post-title">Tutorial: Making a simple game engine with javascript, grunt and require.js (part 1)</h1>
        <p class="post-meta">By <a href="/about" class="post-author"><em>Mauno Vähä</em></a> under <a href="#" class="post-tag">#CSS</a> <a href="#" class="post-tag">#JavaScript</a> <a href="#" class="post-tag">#HTML</a></p>
      </header>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </p>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </p>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      </p>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      </p>
    </article>
    <!-- end of {{ post }}-->
  </div>
  <div class="post-navigation pure-u-1 pure-u-lg-5-24">
    <aside>
      <nav class="post-navigation-group">
        <h4>Archives</h4>
        <ul>
          <li><a href="#">December 2014</a></li>
          <li><a href="#">Nomember 2014</a></li>
          <li><a href="#">July 2014</a></li>
          <li><a href="#">January 2014</a></li>
          <li><a href="#">December 2013</a></li>
          <li><a href="#">July 2013</a></li>
          <li><a href="#">February 2013</a></li>
        </ul>
      </nav>
      <nav class="post-navigation-group">
        <h4>Tags</h4>
        <ul>
          <li><a href="#">#phaserjs</a></li>
          <li><a href="#">#javascript</a></li>
          <li><a href="#">#ruby</a></li>
          <li><a href="#">#html</a></li>
          <li><a href="#">#css</a></li>
          <li><a href="#">#rails</a></li>
          <li><a href="#">#playframework2</a></li>
          <li><a href="#">#2d</a></li>
          <li><a href="#">#nodejs</a></li>
          <li><a href="#">#graphics</a></li>
        </ul>
      </nav>
    </aside>
  </div>
</div>

<!--
<div class="header">
  <div class="top-menu pure-menu pure-menu-open pure-menu-horizontal">
    <a class="pure-menu-heading" href="#">maunovaha.github.io</a>
    <ul>
      <li class="pure-menu-selected"><a href="#">Blog</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </div>
  <div class="top-menu-bg"></div>
</div>
-->

<!--
<div class="splash-container">
  <div class="splash">
      <h1 class="splash-head">Big Bold Text</h1>
      <p class="splash-subhead">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      </p>
      <p>
        <a href="http://purecss.io" class="pure-button pure-button-primary">Get Started</a>
      </p>
  </div>
</div>
-->

<!--
<div class="content-wrapper">
  <div class="content">
    <h2 class="content-head is-center">Excepteur sint occaecat cupidatat.</h2>
      <div class="pure-g">
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <h3 class="content-subhead">
            <i class="fa fa-rocket"></i>
            Get Started Quickly
          </h3>
          <p>
            Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
          </p>
        </div>
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <h3 class="content-subhead">
            <i class="fa fa-mobile"></i>
            Responsive Layouts
          </h3>
          <p>
            Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
          </p>
        </div>
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <h3 class="content-subhead">
            <i class="fa fa-th-large"></i>
            Modular
          </h3>
          <p>
            Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
          </p>
        </div>
        <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <h3 class="content-subhead">
            <i class="fa fa-check-square-o"></i>
            Plays Nice
          </h3>
          <p>
            Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
          </p>
        </div>
      </div>
    </div>
    <div class="ribbon l-box-lrg pure-g">
      <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
        <img class="pure-img-responsive" alt="File Icons" width="300" src="http://placehold.it/484x282">
      </div>
      <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">
        <h2 class="content-head content-head-ribbon">Laboris nisi ut aliquip.</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor.
          </p>
      </div>
    </div>
    <div class="content">
      <h2 class="content-head is-center">Dolore magna aliqua. Uis aute irure.</h2>
      <div class="pure-g">
        <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
          <form class="pure-form pure-form-stacked">
            <fieldset>
              <label for="name">Your Name</label>
                <input id="name" type="text" placeholder="Your Name">
                <label for="email">Your Email</label>
                <input id="email" type="email" placeholder="Your Email">
                <label for="password">Your Password</label>
                <input id="password" type="password" placeholder="Your Password">
                <button type="submit" class="pure-button">Sign Up</button>
            </fieldset>
          </form>
        </div>
        <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
          <h4>Contact Us</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
          </p>
          <h4>More Information</h4>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
    </div>
  <div class="footer l-box is-center">
    View the source of this layout to learn more. Made with love by the YUI Team.
  </div>
</div>
-->

<!-- {{ content }} -->

</body>
</html>
