---
layout: default
---
<div class="post pure-u-1">
  <article>
    <header class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>
      <p class="post-meta">By <em>{{ site.author }}</em>, posted under
        {% for tag in page.tags %}
          <a href="#" class="{% if forloop.first %}no-margin{% endif %} tag">#{{ tag }}</a>
        {% endfor %}
      </p>
    </header>
    {{ content }}
  </article>
</div>

<div class="post-navigation pure-u-1" style="padding-left: 0px; margin-top: 40px;">
  <aside>
    <!--
    <nav class="tags-group post-navigation-group">
      <h4 style="border-bottom: 1px solid #eee;">Archives</h4>
      <ul>
        sort by latest first ...
        <li><a href="#">December 2014</a><span> (13)</span></li>
        <li><a href="#">Nomember 2014</a><span> (22)</span></li>
        <li><a href="#">July 2014</a><span> (14)</span></li>
        <li><a href="#">January 2014</a></li>
        <li><a href="#">December 2013</a></li>
        <li><a href="#">...?</a></li>
      </ul>
    </nav>
    -->
    <nav class="tags-group post-navigation-group">
      <h4 style="border-bottom: 1px solid #eee;">Tags</h4>
      <ul>
        <!--
        {% capture tags %}{% for tag in site.tags %}#{{ tag[0] }}{% if tag[1].size > 1 %} <span> x {{ tag[1].size }}</span>{% endif %}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
        -->
        {% capture tags %}{% for tag in site.tags %}#{{ tag[0] }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
        {% assign sortedtags = tags | split: ',' | sort_by { |k, v| -v } %}
        {% for tag in sortedtags %}
          <li><a href="/blog/tags{{ tag | truncatewords: 1 | remove: '...' }}">{{ tag }}</a><span> x 2</span></li>
        {% endfor %}
        {% if sortedtags.size > 5 %}
          <li><a href="/blog/tags">...?</a></li>
        {% endif %}
      </ul>
    </nav>
  </aside>
</div>
