<p>
After couple of months of designing and programming, I am delighted to announce the launch of our new website.
</p>

<p>
This site should not only work across multiple devices, but also be up-to-date in terms of content. Hence, making a proper website is just one of the things I wanted to get done before making bigger and more ambitious projects.
</p>

<h2>What happens next</h2>

<p>
At first, I am shifting my focus on finishing my master level studies here at Oulu, and then moving on to develop more games, websites, web services.. and whatever comes into mind. That being said, I am not yet sure what will be _the project_ after the studies, but I'll let you know when the time is right.
</p>