footer {
  background-color: #1a1a1a;

  div.subscribing {
    color: #fff;
    padding: 0px 20px;
    text-align: center;

    > h1 {
      font-size: 28px;
      padding-top: 56px;
    }

    > p {
      font-size: 16px; 
      color: #afafaf;
    }

    form {
      background-color: #0C0C0C;
      display: table;
      border-collapse: separate;
      max-width: 480px;
      margin: 26px auto 0px auto;
      border: 1px solid #525252;
      -ms-transition: border-color .2s;
      -moz-transition: border-color .2s;
      -o-transition: border-color .2s;
      -webkit-transition: border-color .2s;
      transition: border-color .2s;

      input {
        color: #fff;
        background-color: #0C0C0C;
        line-height: 27px;
        border: 1px solid #0C0C0C;
      }

      input.input-email {
        width: 100%;
        display: table-cell;
        border-right: none;
      }

      span {
        width: 1%;
        display: table-cell;
        vertical-align: middle; 

        input.btn-submit {
          width: 70px;
          font-size: 34px;
          display: inline-block;
          vertical-align: middle; 
          overflow: visible;
          background-color: #00B140;
          border-radius: 0px;
        }

        input.btn-submit.not-for-lte-ie-9 {
          -ms-transition: background-color .2s;
          -moz-transition: background-color .2s;
          -o-transition: background-color .2s;
          -webkit-transition: background-color .2s;
          transition: background-color .2s;
        }

        input.btn-submit.not-for-lte-ie-9:hover {
          background-color: #00CE4A;
        }

        input.btn-submit:disabled {
          background-color: #afafaf !important;
        }
      }
    }

    form.focus {
      border-color: #929292;
    }

    div.notification {
      max-width: 478px;
      margin: 0px auto;
      border: 1px solid #1a1a1a;
      text-align: left;
      display: none;
      
      p {
        margin: 0px;
        padding: 10px 0px 0px 15px;
      }
    }

    div.notification.error {
      color: #d9534f;
      display: block;
    }
  }

  div.social {
    padding: 37px 0px;
    text-align: center;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      letter-spacing: -0.31em;

      li {
        display: inline-block;
        letter-spacing: normal;
      }

      li a {
        color: #afafaf;
        font-size: 34px;
        line-height: 34px;
        text-decoration: none;
        padding: 10px;
        margin: 10px;
        -ms-transition: color .2s;
        -moz-transition: color .2s;
        -o-transition: color .2s;
        -webkit-transition: color .2s;
        transition: color .2s;
      }

      li a:hover {
        color: #fff;
      }
    }
  }

  div.loader {
    width: 1px;
    height: 3px;
    background-color: #1a1a1a;
    -ms-transition: width .2s;
    -moz-transition: width .2s;
    -o-transition: width .2s;
    -webkit-transition: width .2s;
    transition: width .2s;
  }

  div.loader.p-25,
  div.loader.p-35,
  div.loader.p-75,
  div.loader.p-100 {
    background-color: #00B140;
  }

  div.loader.p-25 {
    width: 25%;
  }

  div.loader.p-35 {
    width: 35%;
  }

  div.loader.p-75 {
    width: 75%;
  }

  div.loader.p-100 {
    width: 100%;
  }

  div.copyrights {
    background-color: #252525;
    padding: 0px 20px;
    text-align: center;

    p {
      font-size: 14px;
      padding: 20px 0px;
      margin: 0px;
      color: #afafaf;
    }
    p span {
      color: #fff;
    }
    p span i {
      margin: 0px 1px;
    }
  }  
}